$main-white: #F9F8F8;
$grey:#A9A8AA;
$header: #87adfd;
$main-Black: #342E37;
$purchase: #B3D89C;
$purchaseActive: #9dbf88;
$delete: #FF4365;
$deleteActive: #d73a56;
$active-button:#D98E81;
$card-button: #B4CEB3;
$card-button-active:#464E47;
$category-button: #5B4E77;
$log-button:#304C89;